body{
    background-color: #34495e;
    color: #ecf0f1;
    font-family: hack;
    margin: 0;
    padding: 0;
}

a{
    color: #3498db;
    text-decoration: none;
}
a:hover{
    color: #2980b9;
}

h1{
    margin: 0;
    text-align: center;
    padding: 20px;
}
